@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Rubik:wght@500&display=swap');
:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color:#F2F2F2;
    --body-color:#404040;
    --heading-color:#41117A;
    --subheading-color:#0C1787;
    --contrast-color:#AD07AD;
}
body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    color: var(--body-color);
}
h1, h2, h3 {
    line-height: 1.2;
    font-family: 'EB Garamond', sans-serif;
}
header h1, h2 {
    color: var(--heading-color);
}
h2 {
    text-decoration: underline;
}
h1, h3 {
    color: var(--subheading-color);
}
a {
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}
a:hover {
    color: var(--contrast-color);
}
body#about img {
    height: 15em;
    display: inline;
    margin-right: var(--horizontal-space);
    border: 1px solid var(--heading-color);
    box-shadow: 0px 0px 3px 0px rgba(0 0 0 / 74%);
}
@media screen and (min-width: 25em) {
    body#about img {
        float: left;
        margin-bottom: var(--vertical-space);
    }
}
body {
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: auto 4fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 25em) {
    body {
        grid-template-areas: "head nav"
                             "main main"
                             "foot foot";
        grid-template-rows: auto 1fr auto;
    }
    body > nav {
        grid-area: nav;
        padding-top: var(--vertical-space);
    }
    body > nav ul {
        float: right;
    }
}
body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
body > header {
    grid-area: head;
}
body > nav {
    grid-area: nav;
}

body > main > *:first-child:before {
    content: "";
    border-top: 2px solid var(--heading-color);
    display: block;
    padding-top: var(--vertical-space);
}
body > main {
    max-width: 50em;
}
body > nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2.4;
}
body > nav ul li {
    display: inline-block;
    padding-right: 1em;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: foot;
}
header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
header {
    padding-bottom: 0;
}
header h1, footer h1 {
    margin: 0;
}
body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}
body#portfolio ul#portfolioItems li img {
    max-width: 100%;
    margin-left: -0.66em;
}